@charset 'utf-8';
@use "./flexbox/export.scss" as flexbox;
@use "./size/export.scss" as size;
@use "./position/export.scss" as position;

#app, body, html {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.no-overflow { overflow: hidden; }

.overflow {
  overflow: scroll;

  &-y { overflow-y: scroll; }
  &-x { overflow-x: scroll; }
}
